html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, figure, figcaption, header nav, footer{margin:0;padding:0;}
    body,html{
        font:.16rem Arial,helvetica,"\5FAE\8F6F\96C5\9ED1",Microsoft Yahei,sans-serif;
        color:#000000;
        height:100%;
        width:100%;
    }
    h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
    i,em{font-style:normal;}
    a{
        text-decoration:none;
        color:#999;
    }
    a:hover{color:#eee;}
    li{list-style:none;}
    input{outline:none;}
    .clearfix{zoom:1;}
    .clearfix:after{
        content:"";
        display:block;
        height:0;
        clear:both;
        overflow:hidden;
        visibility:hidden;
    }